{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria de fotos</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/stylefc2.css' %}">
</head>
<body>
   <!-- Menú de navegación -->
   <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a href="{%url 'index'%}">
        <img src="{% static 'image/logo-removebg-preview.png'%}" alt="Logo" width="90px" height="90px" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}#productos">PRODUCTOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sobrenos' %}">SOBRE NOSOTRAS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">INICIAR SESIÓN</a>
            </li>
        </ul>
    </div>
</nav>
    <div class="image-container">
        <section class="image-set">
            <img src="{% static 'image/fc2.1.jpg'%}" class="img-item" alt="Primer tipo de imagen del primer conjunto">
            <img src="{% static 'image/fc2.2.jpg'%}"class="img-item" alt="Segundo tipo de imagen del primer conjunto">
        </section>
        <section class="image-set">
            <img src="{% static 'image/fc2.3.jpg'%}" class="img-item" alt="Primer tipo de imagen del segundo conjunto">
            <img src="{% static 'image/fc2.4.jpg'%}" class="img-item" alt="Segundo tipo de imagen del segundo conjunto">
        </section>
    </div>
    
    <script src="https://kit.fontawesome.com/57faba85b1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
</body>
</html>